body, .divLista{
	background-color: #36025F;
}

h1{
	color: #FFFFFF;
}

#lista{
	width: 25%;
	height: 25%;
	padding: 1% 1%;
	background-color: rgba(119, 28, 191,.5);
}

#lista:hover{
	background-color: #FFFFFF;
}

.cont{
	margin-top: 2%;
	width: 300px;
	height: 100px;
	background-color: rgba(119, 28, 191,.5);
	border: 2px solid rgba(119, 28, 191,.9); 
	padding: 1% 0% 1% 2%;
}

button{
	margin-top: 5%;
	margin-left: 5%;
}

input{
	width: 250px;
	height: 30px;
}

h4{
	color: #FFFFFF;
}

.divLista{
	margin-top: 2%;
	margin-left: 2%;
	width: 300px;
	height: 130px;
	background-color: gray;
	border: 2px solid gray; 
	padding: 0% 0% 1% 1%;
}

a{
	color: #FFFFFF !important;
	cursor: pointer;
}

.divTarj{
	margin-top: 2%;
	margin-left: 6%;
	width: 260px;
	height: 100px;
	background-color: gray;
	opacity: .7;
	border: 2px solid gray; 
	padding: 2% 1% 2% 1%;
}