body{
	background-color: #36025F;
}

h1{
	color: #FFFFFF;
}

#lista{
	width: 25%;
	height: 25%;
	padding: 1% 1%;
	background-color: rgba(119, 28, 191,.5);
}

#lista:hover{
	background-color: #FFFFFF;
}

.cont{
	margin-top: 2%;
	width: 320px;
	height: 150px;
	background-color: rgba(119, 28, 191,.5);
	border: 2px solid rgba(119, 28, 191,.9); 
	padding: 5% 5%;
}

button{
	margin-top: 5%;
	margin-left: 5%;
}

textarea{
	width: 250px;
	height: 50px;
}